AZURE_API_BASE=https://azure-openai-skillup2.openai.azure.com
AZURE_API_VERSION=2024-10-01-preview
AZURE_API_KEY=5JZW8lIHVxXUYclQJMPMI6UU31NDt2wRdffGdahMDyKWMLFCCmvHJQQJ99CAACYeBjFXJ3w3AAABACOGkx6M
SERPER_API_KEY=32fd6fd7a886da9d149ee96c98cfb9b862d6b565
AZURE_LLM_DEPLOYMENT=azure/crew-ai-deployment
PUSHOVER_USER=uh68dmnzyrv2rttk1cmtygqodnktp8
PUSHOVER_TOKEN=awoemsfgfoy3dwgistez9ri6nxr8fw